<%- include('partials/cabecalho-alternativo') %>

<div class="container-compra">
  <div class="orderUserData">
    <form class="orderUserData-personal" action="">
      <h3>Dados Pessoais</h3>
      <p><strong>Nome: </strong><%= usuario[0].nome %></p>
      <p><strong>Email: </strong><%= usuario[0].email %></p>
      <p><strong>CPF: </strong><%= usuario[0].documento_usuario %></p>
      <p><strong>Telefone: </strong><%= usuario[0].telefone %></p>
    </form>

    <div class="orderUserData-address">
      <% if (enderecos.length) { %>
       
      
      <h3>Endereço de Entrega</h3>

        
      
      <p class="text-cep"><%= enderecos[0]?.cep %></p>
      <p><strong>Rua: </strong><%= enderecos[0]?.logradouro %></p>
      <p><strong>Bairro: </strong><%= enderecos[0]?.bairro %></p>
      <p><%= enderecos[0]?.cidade %> - <%= enderecos[0]?.estado %></p>
      <% } else {%>
      <h4>Nenhum Endereço Cadastrado</h4>
      <% } %>
      <button class="button editar-endereco">Cadastre</button>
      <dialog class="modal-endereco">
        <h1>Cadastrar Endereço</h1>
        <hr>
        <p class="mensagem-erro"></p>
        <form action="/adiciona-endereco/<%= usuario[0].idusuarios %>" method="POST">
          <div class="input-label">
              <label for="cep">CEP</label>
              <input type="number" id="cep" name="cep"  required="required" placeholder="Inserir somente números"/>
          </div>

            <div class="input-label">
              <label for="logradouro">Logradouro</label>
            <input type="text" id="logradouro" name="logradouro" required="required" />
            </div>              
            
            <div class="input-label">
              <label for="numero">Número</label>                            
              <input type="number" id="numero" name="endereco_numero" required="required" />
            </div>
            
            <div class="input-label">
              <label for="complemento">Complemento</label>                           
              <input type="text" id="complemento" name="complemento" />
            </div>                                    
            
            <div class="input-label">
              <label for="bairro">Bairro</label>
              <input type="text" id="bairro" name="bairro" required="required"/>
            </div>
            
            <div class="input-label">
              <label for="cidade">Cidade</label>
              <input type="text" id="cidade" name="cidade" required="required"/>
            </div>
            
            <div class="input-label">
              <label for="uf">UF</label>
              <input type="text" id="uf" name="estado" required="required"/>
            </div>
            
            
            <button class="" type="submit">Cadastrar</button>

        </form>                        
    </dialog> 
    </div>

    <fieldset>
      <legend>Forma de Envio</legend>

      <div class="container-frete">
        <h4>Sedex</h4>
        <label for="sedex">
          <input name="frete" type="radio" id="sedex" />
          <div class="deliveryType-price">
            <p class="price">R$ <%= parseInt(frete).toFixed(2).replace('.', ',') %></p>
            <p class="deadline">Entrega em <%= prazo %></p>
          </div>
        </label>
      </div>
    </fieldset>
  </div>

  <div class="orderPaymentResume">
    <div class="orderResume">
      <h3>Resumo da Compra</h3>
      <div class="orderResume-resume">
        <div class="container-resume">
          <% produtos.forEach(produto => { %>
          <div class="resumo-produto"> 
            
            <img src="<%= produto.img %>" alt="" />
            <div class="resumo-valor-quantidade">
              <p><%= produto.title %></p>
               
              <p>Quantidade: <%= produto.quantity %></p>
            </div>
            <p class="valor-produto"><% let preco = produto.quantity * produto.price %><%= preco.toFixed(2).replace('.',',') %></p>
          </div>
          <% }) %>
        </div>
      </div>
      <div class="orderResume-delivery">
        <p>Subtotal</p>
        <p class="valor-sub"></p>
      </div>
      <div class="orderResume-delivery">
        <p>Frete</p>
        <p class="valor-frete"> <%= parseInt(frete).toFixed(2).replace('.', ',') %></p>
      </div>

      <div class="orderResume-total">
        <p>TOTAL</p>
        <p class="valor-total"></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="orderButtons">
  <button class="button">
    <a href="/">Continuar comprando</a>
  </button >
  <form action="/checkout/order-finished" method="POST" class="form-finaliza">
    <input type="hidden" class="subtotal" name="subtotal" value="">
    <input type="hidden" class="total" name="total" value="">
    <input type="hidden" class="frete-valor" name="valor_frete" value="">
    <input type="hidden" name="data_pedido" class="data_pedido" value="">
    <input type="hidden" name="produtosLocal" class="produto-local" value="">
    <% produtos.forEach(produto => { %>
      <input type="hidden" name="Arrayidprodutos" id="" value="<%= produto.id %>">
      <input type="hidden" name="Arrayquantidades" id="" value="<%= produto.quantity %>">
    <% }) %>
    <button class="button" type="submit">Finalizar Pedido</button>
  </form>
  
</div>

<%- include('partials/rodape-alternativo') %>
