<%- include('partials/cabecalho-alternativo') %>
<div class="container-compra">
    <div class="orderUserData">
        <form class="orderUserData-personal" action="">
          <h3>Dados Pessoais</h3>
          <% for( let i = 0; i < usuario.length; i++ ) { %>
          <p><%= usuario[i].nome %></p>
          <p><%= usuario[i].email %></p>
          <p><%= usuario[i].documento_usuario %></p>
          <p><%= usuario[i].telefone %></p>
      
          <% } %>
        </form>
      
        <div class="orderUserData-address" >
          <h3>Endereço de Entrega</h3>
          <h4>Nenhum Endereço Cadastrado</h4>

          <button class="button">Cadastre</button>
        </div>
      
        <fieldset>
          <legend>Forma de Envio</legend>
     
          <div class="container-frete">
            <h4>Sedex</h4>
            <label for="sedex">
              <input name="frete" type="radio" id="sedex" />
              <div class="deliveryType-price">
                <p class="price">R$ 11,26</p>
                <p class="deadline">Entrega em 9 dias uteis</p>
              </div>
            </label>
          </div>
        </fieldset>
    </div>
      
      <div class="orderPaymentResume">
        <div class="orderResume">
          <% produtos.forEach(produto => { %>
      
          <p><%= produto.title %></p>
          <% }) %>
          <h3>Resumo da Compra</h3>
          <div class="orderResume-resume">
            <p>1 Produto</p>
            <p>R$ 249,00</p>
          </div>
          <div class="orderResume-delivery">
            <p>Frete</p>
            <p>R$ 11,26</p>
          </div>
      
          <div class="orderResume-total">
            <p>TOTAL</p>
            <p>R$ 509,26</p>
          </div>
        </div>
      </div>
</div>
<div class="orderButtons">
    <button>
      <a href="/public/views/list-product/list.product.html"
        >Continuar comprando</a
      >
    </button>
    <button>
      <a href="/public/views/orderFinished/orderFinished.html"
        >Finalizar pedido</a
      >
    </button>
  </div>


<%- include('partials/rodape-alternativo') %>
