
<%- include('partials/cabecalho-alternativo') %>

    <div class="orderFinished">

        <div class="orderFinished-left">
            <div class="orderFinished-leftTopBox">
                <span><i class="fa-solid fa-circle-check"></i></span>
                <h1>Pedido Concluido com Sucesso</h1>

                <p class="orderNumberTitle">Número do pedido</p>
                <p class="orderNumber"><%= findPedido[0].codigo_pedido %></p>

                <p class="orderUserEmail">Confirmação do pedido enviado para: <br> <%= endereco[0].usuarios.email %></p>
            </div>
            <div class="orderFinished-leftBotBox">
                <h2>Endereço de entrega</h2>
                <p ><%= endereco[0].usuarios.nome + " " + endereco[0].usuarios.sobrenome%><br> <%= endereco[0].logradouro %> <br> </p><p class="text-cep"><%= endereco[0].cep %></p>

                <h2>Forma de pagamento</h2>
                <p>MasterCard 5555********6789 <br> 2x de R$ <% let valorDividido = parseInt(findPedido[0].total) / 2 %><%= valorDividido.toFixed(2).replace('.', ',') %> sem juros <br>Valor Total R$
                    <%= parseInt(findPedido[0].total).toFixed(2).replace('.', ',') %>
                </p>

                <span>Receba seu pedido até 31 de Dezembro <i class="fa-solid fa-truck-fast"></i></span>
            </div>
        </div>

        <div class="orderFinished-right">
            <h2>Resumo da compra</h2>
            <% produtos.forEach(produto => { %>
            <div class="orderProducts">
                    <img src="<%= produto.img %>"
                    alt="">
                    <span class="orderProductsTitle"><%= produto.title %></span>
                    <span class="orderProductsAmount">Qtd: <%= produto.quantity %></span>
                    <span class="orderProductsPrice">R$ <%= parseInt(produto.price).toFixed(2).replace('.', '.') %></span>
            </div>
            <% }) %>
            <div class="orderFinishResume">
                <div class="orderResume-resume">
                    <p>Subtotal </p>
                    <p>R$ <%= parseInt(findPedido[0].subtotal).toFixed(2).replace('.', ',') %></p>
                </div>
                <div class="orderResume-delivery">
                    <p>Frete</p>
                    <p>R$ <%= parseInt(findPedido[0].valor_frete).toFixed(2).replace('.', ',') %></p>
                </div>

                <div class="orderResume-total">
                    <p>TOTAL</p>
                    <p>R$ <%= parseInt(findPedido[0].total).toFixed(2).replace('.', ',') %></p>
                </div>
            </div>
        </div>

    </div>

    <div class="orderFinishedButtons">
        <a href="/"><button class="button">Continuar comprando</button></a>
        <a href="/meus-pedidos/<%= endereco[0].usuarios.idusuarios%>"><button class="button">Ir para meus pedidos</button></a>
    </div>


    <%- include('partials/rodape-alternativo') %>
