<%- include('partials/cabecalho') %>

  <div id="banner">
    <img class="firstBanner" src="https://cdn.shopify.com/s/files/1/0525/6934/2107/files/Desk_DUO_1.jpg?v=1669027223"
      alt="">
    <img
      src="https://useorganico.vteximg.com.br/arquivos/ids/169149/20221103-campanha-black-friday-desconto-progressivo-v3.jpg?v=638035101660330000"
      alt="">
    <img
      src="https://useorganico.vteximg.com.br/arquivos/ids/169190/20221103-campanha-black-friday-bob-v5.jpg?v=638037620562300000"
      alt="">
    <img src="https://images.tcdn.com.br/img/img_prod/1055762/1667357938_3-desktop-petrizi-min.jpg" alt="">
  </div>


  <div class="selecaoProdutosPosBanner">
    <div class="produtosPosBanner">
      <a href=""><img
        src="/images/photo-1609357912333-27872db33d5c.avif"
        alt="">
      <span>Pó Facial</span></a>
    </div>
    <div class="produtosPosBanner">
      <a href=""><img
        src="/images/photo-1654977631007-498a9b2c5235.avif"
        alt="">
      <span>Batom e Balm</span></a>
    </div>
    <div class="produtosPosBanner">
      <a href=""><img
        src="/images/photo-1519699047748-de8e457a634e.avif"
        alt="">
      <span>Blush</span></a>
    </div>
    <div class="produtosPosBanner">
      <a href=""><img
        src="/images/pexels-photo-13474565.jpeg"
        alt="">
      <span>Lip Oil</span></a>
    </div>
    <div class="produtosPosBanner">
      <a href="/products"><img
        src="/images/pexels-photo-13440123.jpeg"
        alt="">
      <span>Mais Produtos</span></a>
    </div>
  </div>


  <div class="indexProducts">


    <div class="indexProductsTitle">
      <h2>Batons</h2>
      <span><a href="/maquiagem">ver todos</a></span>
    </div>

    <% productBatom.forEach(productsBatom =>{  %>
    <div class="indexProductsProducts">
      
      <a href="/produtos/descricao-produto/<%= productsBatom.idprodutos %>"> 
        <img
          src="/images/products/<%= productsBatom.imagem %>"
          alt="">
        <p class="indexProductsDescription"> <%= productsBatom.titulo %><br><%= productsBatom.marcas.nome %></p>
        <p class="indexProductsOldPrice">R$ 95,00</p>
        <p class="indexProductsPrice">R$ <%= productsBatom.valor %></p>
        <p class="indexProductsSubPrice"><sub>5x de R$ 14,20 Sem juros</sub></p>
      </a>
      
    </div>
    <% }); %>

  </div>

  <div class="aboutInfinity">
    <div class="aboutInfinity-container">
      <div class="aboutInfinity-image">
        <img
          src="/images/photo-1537024211977-7b857dc498ae.avif"
          alt="">
      </div>

      <div class="aboutInfinity-text">
        <h2>Infinity Cosmeticos</h2>
        <p>Lorem pão ipsum dolor sit amet consectetur adipisicing elit. Rerum repellat facere natus sed incidunt
          doloremque quas suscipit ea fuga dicta voluptatibus quasi distinctio facilis labore saepe autem, in
          perferendis
          ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste, ab fuga maiores
          doloremque
          quo exercitationem atque velit, dolor ipsam consequatur ratione, tenetur laborum. Tenetur neque corrupti
          ratione
          exercitationem dolor!</p>
        <ul>
          <li><i class="fa-solid fa-droplet"></i> Maior Hidratação</li>
          <li><i class="fa-solid fa-gem"></i> Alta Resistencia</li>
          <li><i class="fa-solid fa-chess-queen"></i> Produtos Oficiais</li>
          <li><i class="fa-solid fa-paw"></i> CrueltyFree and Vegan</li>
        </ul>
        <a href="/produtos"><button>ir para as compras</button></a>
      </div>
    </div>
  </div>

  <div class="indexProducts">


    <div class="indexProductsTitle">
      <h2>Pó Facial</h2>
      <span><a href="/maquiagem">ver todos</a></span>
    </div>


    <% productPoFacial.forEach(productsPoFacial =>{  %>
      <div class="indexProductsProducts">
        
        <a href="/produtos/descricao-produto/<%= productsPoFacial.idprodutos %>"> 
          <img
            src="/images/products/<%= productsPoFacial.imagem %>"
            alt="">
          <p class="indexProductsDescription"> <%= productsPoFacial.titulo %><br><%= productsPoFacial.marcas.nome %></p>
          <p class="indexProductsOldPrice">R$ 95,00</p>
          <p class="indexProductsPrice">R$ <%= productsPoFacial.valor %></p>
          <p class="indexProductsSubPrice"><sub>5x de R$ 14,20 Sem juros</sub></p>
        </a>
        
      </div>
      <% }); %>
  </div>

  <div class="promotionalProducts">
    <div class="promotionalProducts-container">
      <div class="promotionalProducts-left">
        <h2>Você Pode</h2>
        <p>
          Os produtos da coleção Seja Organica chegaram para trazer mais autoestima e autoconfiança para a mulher
          poderosa
          que habita em você.
        </p>
        <a href="/produtos"><button>
          comprar agora
        </button></a>
      </div>

      <div class="promotionalProducts-right">
        <img
          src="/images/photo-1659533581859-7fcac8637d9e.avif"
          alt="">
      </div>
    </div>
  </div>

  <div class="endPage">
    <div class="endPage-vipList">
      <h2>cadastre-se</h2>
      <h3>Inscreva-se em Nossa Lista VIP</h3>
      <p>Receba novidades e ofertas exclusivas!</p>
      <form action="">
        <input type="text" id="userName">
        <input type="text" id="userEmail">
        <input type="submit" id="userSignUp" value="cadastrar">

      </form>
      <sub>Enviando seus dados você estará de acordo com nossa <strong> <a href="/politica-privacidade">Politica de
            Privacidade</a></strong>.</sub>

    </div>

    <div class="endPage-contactUs">
      <h2>atendimento</h2>
      <h3>Alguma Dúvida?</h3>
      <p>Oi, sua linda! Caso tenha alguma dúvida ou precise de ajuda para finalizar sua compra, é só mandar uma mensagem
        aqui! Estamos prontos para te ajudar.
      </p>
      <button>escreva sua mensagem</button>

    </div>
  </div>



  <%- include('partials/rodape') %>
