<%- include('partials/cabecalho-alternativo') %>

    <main>

        <div class="titulo-formEndereco">
            <% if(enderecos.length) {%>
                <h1>Editar Endereço</h1>
                <% } else { %>
                    <h1>Adicionar Endereço</h1>
                    <% } %>
                        <hr>
        </div>

        <section class="formEndereco-container">

            <div class="div-form">

                <% if (enderecos) { %>

                    <form action="/editarEndereco/<%= usuario.idusuarios %>"?_method=PUT" method="POST"
                        class="formEndereco-estilo">

                        <% } else { %>
                            <form action="/adicionaEndereco/<%= usuario.idusuarios %>" method="POST" class="formEndereco-estilo">

                                <% for (let endereco of enderecos) { %>

                                    <label for="cep">CEP:</label>
                                    <input type="number" id="cep" name="cep" min="8" required="required"
                                        value="<%= endereco?.cep %>"
                                        placeholder="Neste campo deve ser inserido somente números" />

                                    <label for="logradouro">Logradouro</label>
                                    <input type="text" id="logradouro" value="<%= endereco?.logradouro %>"
                                        name="logradouro" required="required" />

                                    <label for="endereco_numero">Número:</label>
                                    <input type="number" id="endereco_numero" value="<%= endereco?.endereco_numero %>"
                                        name="endereco_numero" required="required" />

                                    <label for="complemento">Complemento:</label>
                                    <input type="text" id="complemento" value="<%= endereco?.complemento %>"
                                        name="complemento" />

                                    <label for="bairro">Bairro:</label>
                                    <input type="text" id="bairro" value="<%= endereco?.bairro %>" name="bairro"
                                        required="required" />

                                    <label for="cidade">Cidade:</label>
                                    <input type="text" id="cidade" value="<%= endereco?.cidade %>" name="cidade"
                                        required="required" />

                                    <label for="estado">UF:</label>
                                    <input type="text" id="estado" value="<%= endereco?.estado %>" name="estado"
                                        required="required" />

                                    <button class="salvar-endereco" type="submit">Salvar</button>
                                    <% } %>
                                    <% } %>



                                        

                            </form>
            </div>

        </section>

    </main>

    <%- include('partials/rodape-alternativo') %>