<%- include('partials/cabecalho-alternativo') %>

    <section class="painel-container">

        <!-- início do main -->
        <main>

            <div class="titulo-painel">
                <h1>Painel do Usuario</h1>
                <hr>
            </div>

            <div class="introduction">

                <% usuarios.forEach(usuario=> { %>


                    <h3>Olá, <%= usuario.nome %>
                    </h3>
                    <p>Aqui é possível ver o resumo das suas atividades e atualizar suas informações.</p>
                    <p>Escolha uma das opções para visualizar ou editar suas informações.</p>
            </div>

            <!-- Início section dos Dados Pessoais/endereço -->
            <section class="dados-usuario">

                <div id="meus-dados" class="estilo-div">

                    <h2>Dados Pessoais</h2>
                    <hr>

                    <b>Nome Completo:</b>
                    <p>
                        <%= usuario.nome + " " + usuario.sobrenome%>
                    </p>
                    <br>

                    <b>E-Mail:</b>
                    <p>
                        <%= usuario.email %>
                    </p>
                    <br>

                    <b>CPF:</b>
                    <p>
                        <%= usuario.documento_usuario %>
                    </p>
                    <br>

                    <b>Telefone:</b>
                    <p>
                        <%= usuario.telefone %>
                    </p>
                    <br>

                    
                        <a class="add-button" href="/usuarios/formUsuario/<%= usuario.idusuarios %>"><button class="editar-dados">Editar Dados</button> </a>
                    

                </div>

                <div id="meus-enderecos" class="estilo-div">

                    <h2>Meus Endereços</h2>
                    <hr>
                    <% if(enderecos.length < 1) { %>
                        <h4>Não há endereços cadastrados</h4>

                        <a class="add-button" href="/formEndereco/<%= usuario.idusuarios %>"><button class="cadastrar-endereco">Adicionar</button></a>
                    <% } else { %>
                     

                    <% for (let endereco of enderecos) { %>

                        <b>Logradouro:</b>
                        <p>
                            <%= endereco?.logradouro + ", " + endereco?.endereco_numero + " - " + endereco?.complemento
                                %>
                        </p>
                        <br>

                        <b>Bairro:</b>
                        <p>
                            <%= endereco?.bairro %>
                        </p>
                        <br>

                        <b>Cidade:</b>
                        <p>
                            <%= endereco?.cidade + " - " + endereco?.estado %>
                        </p>
                        <br>

                        <b>Cep</b>
                        <p class="text-cep-painel">
                            <%= endereco?.cep %>
                        </p>
                        <br>

                        <% } %>

                        <a class="add-button" href="/formEndereco/<%= usuario.idusuarios %>"><button class="editar-endereco">Editar</button></a>
  
                        <form action="/usuarios/deletarEndereco/<%= enderecos[0].idenderecos %>?_method=DELETE" method="POST">
                            <button class="excluir-endereco" type="submit">Excluir</button>
                        </form>
                   <% } %>

                </div>
            </section>

            <!-- Fim da Section dos Dados Pessoais -->

        </main>
        <!-- Fim do Main -->

        <!-- Início do Aside -->
        <aside>
            <section class="aside-user">
                <figure>
                    <i class="icon-user fa-solid fa-user"></i>
                </figure>

                <h3 class="name-user">
                    <%= usuario.nome + " " + usuario.sobrenome%>
                </h3>
                <nav>
                    <ul class="options-user">
                        <li><a class="list-icon" href="#meus-dados"><i class="fa-solid fa-user"></i>Meus Dados</a></li>
                        <hr>
                        <li><a class="list-icon" href="/meus-pedidos/<%= usuario.idusuarios %>"><i
                                    class="fa-sharp fa-solid fa-clipboard-list"></i>Meus Pedidos</a></li>
                        <hr>
                        <li><a class="list-icon" href="#meus-enderecos"><i class="fa-solid fa-address-card"></i>Meus
                                Endereços</a>
                        </li>
                        <hr>
                        <li><a class="list-icon" href="/sair"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
                        </li>
                        <hr>
                    </ul>
                </nav>
            </section>
            <% }); %>
        </aside>
        <!-- Fim do Aside -->

    </section>
    <!-- Fim do Container -->

    <%- include('partials/rodape-alternativo') %>