<%- include('partials/cabecalho-alternativo') %>

    <section class="painel-container">

        <!-- início do main -->
        <main>

            <div class="titulo-painel">
                <h1>Painel do Usuario</h1>
                <hr>
            </div>

            <div class="introduction">

                <% usuarios.forEach(usuario=> { %>


                    <h3>Olá, <%= usuario.nome %>
                    </h3>
                    <p>Aqui é possível ver o resumo das suas atividades e atualizar suas informações.</p>
                    <p>Escolha uma das opções para visualizar ou editar suas informações.</p>
            </div>

            <!-- Início section dos Dados Pessoais/endereço -->
            <section class="dados-usuario">

                <div id="meus-dados" class="estilo-div">

                    <h2>Dados Pessoais</h2>
                    <hr>

                    <b>Nome Completo:</b> <p><%= usuario.nome + " " + usuario.sobrenome%></p>
                    <br>

                    <b>E-Mail:</b> <p><%= usuario.email %></p>
                    <br>

                    <b>CPF:</b> <p><%= usuario.documento_usuario %></p>
                    <br>

                    <b>Data de Nascimento:</b> <p><%= usuario.data_nascimento %></p>
                    <br>              
                                                     
                    <b>Telefone:</b> <p><%= usuario.telefone %></p>
                    <br> 
                    
                    <button class="editar-dados">Editar Dados Pessoais</button> 
                    
                    <!-- Início modal de edição de dados pessoais-->

                    <dialog class="modal-dados">

                        <h1>Editar Meus Dados Pessoais</h1>
                        <hr>
                    
                        <form action="">
                                               
                            <label for="nome">Nome:</label>
                            <input type="text" id="nome" name="nome" required="required" />
                    
                            <label for="sobrenome">Sobrenome:</label>                            
                            <input type="text" id="sobrenome" name="sobrenome" required="required" />
                    
                            <label for="email">E-mail:</label>                           
                            <input type="email" id="email" name="email" required="required" />
                    
                            <label for="cpf">CPF:</label>                           
                            <input type="number" id="documento_usuario" name="documento_usuario" min="11" max="11" required="required" />
                    
                            <label for="tel">Tel Celular:</label>
                            <input type="number" id="telefone" name="telefone" min="11" max="11" required="required" placeholder="Inserir somente números"/>
                                                        
                            <button class="salvar-dados">Salvar Alterações</button>
                            <Button class="cancelar-dados">Cancelar</Button>
                        </form>                        
                    </dialog>                   
                    <!-- Fim modal de edição de dados pessoais-->
                                      
                </div>

                <div id="meus-enderecos" class="estilo-div">

                    <h2>Meus Endereços</h2>
                    <hr>

                    <b>Logradouro:</b> <p>Rua + Numero + complemento </p>
                    <br>

                    <b>Bairro:</b> <p>Tremembé</p>
                    <br>
                    
                    <b>Cidade:</b> <p>São Paulo - SP</p>
                    <br>

                    <b>Cep</b> <p>000000-000</p>
                    <br>

                    <button class="editar-endereco">Editar/Cadastrar Endereço</button> 
                    
                    <!-- Início modal de cadastro/edição de endereço -->

                    <dialog class="modal-endereco">

                        <h1>Editar Meus Dados Pessoais</h1>
                        <hr>
                    
                        <form action="">

                            <label for="cep">CEP:</label>
                            <input type="number" id="cep" name="cep" min="8" max="8" required="required" placeholder="Inserir somente números"/>
                                               
                            <label for="logradouro">Logradouro</label>
                            <input type="text" id="logradouro" name="logradouro" required="required" />
                    
                            <label for="numero">Número:</label>                            
                            <input type="number" id="numero" name="numero" required="required" />
                                                                
                            <label for="complemento">Complemento:</label>                           
                            <input type="text" id="complemento" name="complemento" />

                            <label for="bairro">Bairro:</label>
                            <input type="text" id="bairro" name="bairro" required="required"/>
                    
                            <label for="cidade">Cidade:</label>
                            <input type="text" id="cidade" name="cidade" required="required"/>

                            <label for="uf">UF:</label>
                            <input type="text" id="uf" name="uf" required="required"/>
                            
                            <button class="salvar-endereco">Salvar Alterações</button>
                            <button class="cadastrar-endereco">Cadastrar</button>
                            <Button class="cancelar-endereco">Cancelar</Button>
                        </form>                        
                    </dialog> 
                    
                    <!-- Fim modal de cadastro/edição de endereço -->
                </div>
            </section>
            
            <!-- Fim da Section dos Dados Pessoais -->

        </main>
        <!-- Fim do Main -->

        <!-- Início do Aside -->
        <aside>
            <section class="aside-user">
                <figure>
                    <i class="icon-user fa-solid fa-user"></i>
                </figure>

                <h3 class="name-user">
                    <%= usuario.nome + " " + usuario.sobrenome%>
                </h3>
                <nav>
                    <ul class="options-user">
                        <li><a class="list-icon" href="#meus-dados"><i class="fa-solid fa-user"></i>Meus Dados</a></li>
                        <hr>
                        <li><a class="list-icon" href="/meus-pedidos/<%= usuario.idusuarios %>"><i
                                    class="fa-sharp fa-solid fa-clipboard-list"></i>Meus Pedidos</a></li>
                        <hr>
                        <li><a class="list-icon" href="#meus-enderecos"><i class="fa-solid fa-address-card"></i>Meus Endereços</a>
                        </li>
                        <hr>
                        <li><a class="list-icon" href="/sair"><i class="fa-solid fa-right-from-bracket"></i>Sair</a>
                        </li>
                        <hr>
                    </ul>
                </nav>
            </section>
            <% }); %>
        </aside>
        <!-- Fim do Aside -->

    </section>
    <!-- Fim do Container -->

    <%- include('partials/rodape-alternativo') %>