<%- include('partials/panelAdmin-header') %>

        <div class="content-products">
            <div class="container-products">
                <h3>Excluir Produto</h3>
                 
                    <div class="box">
                        <div class="box-header">
                        <% if (product) { %>
                            <h4 class="box-title">Excluir Produto</h4>
                            <div class="box-tools">                            
                                <a class="action-delete open-modal">Excluir</a>
                                    <div id="fade" class="hide"></div>
                                    <div id="modal" class="hide">
                                        <div class="modal-header">
                                            <h2>Excluir Registro</h2>
                                        </div>
                            
                                        <div class="modal-body">
                                            <p>Tem certeza que deseja Excluir esse Registro? </p>
                                            <div class="modal-buttons">                                            
                                            <a id="close-modal" class="button-cancel" href="/admin/products">Cancelar</a>  
                                            <form  action="/admin/delete/<%= product.id %>?_method=DELETE " method="POST" id="form">                                   
                                                <input type="submit" class="button-delete" value="Excluir" id="">   
                                            </form>                                 
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="box-body">
                        
                            <div class="form-group">
                                <label for="p_name">Nome do produto</label>
                                <input  type="text" class="input-delete" id="p_name" name="name" disabled value="<%= product.titulo %> "/>
                            </div>
                       
                            <div class="form-group">
                                <label for="p_description">Descrição do Produto</label>
                                <textarea id="p_description" name="description" disabled ><%= product.descricao %></textarea>
                            </div>
            
                            <div class="form-group">
                                <label for="p_stock">Estoque Disponível</label>
                                <input type="number" id="p_stock" name="stock" disabled value="<%= product.quantidade %>"/>
                            </div>
            
                            <div class="form-group">
                                <label for="p_price">Preço</label>
                                <input  type="text"  id="p_price" name="price" disabled value="<%= product.valor %> "/>
                            </div>   
                        <% } %>                                                
                        </div>

                    </div>
                
            </div>
        </div>
    </main>
</body>
</html>