<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/panelAdmin-addProducts.css">
    <script src="https://kit.fontawesome.com/0ad644d1e0.js" crossorigin="anonymous"></script>
    <title>Painel Administrativo - Infinity Cosméticos</title>
</head>
<body>
    <header>
        <div class="info-header">
            <div class="logo">
                <head>Infinity Cosméticos</head>
            </div>
            <div class="header-icon-search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>    
        <div class="info-header">
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <h3 class="title-sidebar"><a href="/admin">Home</a></h3>
            <nav>
                <h3>Produtos</h3>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Categorias</a>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Marca</a>
                <a class="link-sidebar" href="/admin/products"><i class="fa-solid fa-plus"></i> Produtos</a>
            </nav>
            <nav>
                <h3>Usuários</h3>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Usuários</a>
                <a class="link-sidebar" href=""><i class="fa-solid fa-plus"></i> Permissões</a>
            </nav>
        </div>
        <div class="content">
            <div class="container">
                <h3>Produtos</h3>
                <div class="box-header">
                    <h4 class="box-title">Produtos</h3>
                    <div class="box-tools">
                        <a href="/admin/add">Adicionar</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="box-table">
                        <tr>
                            <th class="table-id">ID</th>
                            <th class="table-name">Nome do Produto</th>
                            <th class="table-inventory">Estoque</th>
                            <th class="table-picture">Foto</th>
                            <th class="table-price">Preço</th>
                            <th class="table-action">Ações</th>
                        </tr>
                        <tr>
                            <% for (let product of products) { %>
                            <td class="table-id"><%= product.id %> </td>
                            <td class="table-name"><%= product.titulo %></td>
                            <td class="table-inventory"><%= product.quantidade %> </td>
                            <td class="table-picture"><img src="/images/products/<%= product.imagem %> " alt=""></td>
                            <td class="table-price"><%= product.valor %></td>
                            <td class="table-action">
                                <a class="action-edit" href="">Editar</a>
                                <a class="action-delete" href="">Excluir</a>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>