<%- include('partials/panelAdmin-header') %>


        <div class="content-products">
            <div class="container-products">
                <h3>Editar Produtos</h3>

                <% if(product) { %>
                <form  action="/admin/update/<%= product.id %>?_method=PUT" method="POST" id="form">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">Editar Produto</h4>
                            <div class="box-tools">
                                <input type="submit" value="Salvar">
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="p_name">Nome do produto</label>
                                <input  type="text" id="p_name" name="name" value="<%= product.titulo %> " />
                            </div>
            
                            <div class="form-group">
                                <label for="p_cat">Categoria</label>
                                <select  name="category" id="p_cat" >
                                  <option value="<%= product.categoria %> " selected></option>
                                  <option value="po-facial">Pó Facial</option>
                                  <option value="lip-oil">Lip Oil</option>
                                  <option value="bruma">Bruma</option>
                                  <option value="iluminador">Iluminador</option>
                                </select>
                            </div>
            
                            <div class="form-group">
                                <label for="p_brand">Marca</label>
                                <select name="brand" id="p_brand" >
                                        <option value="<%= product.marca %> " selected></option>
                                        <option value="bergamia">Bergamia</option>
                                        <option value="khor-cosmetics">Khor Cosmetics</option>
                                        <option value="weleda">Weleda</option>
                                        <option value="souvie">Souvie</option>
                                        <option value="care-natural">Care Natural</option>
                                </select>
                            </div>
            
                            <div class="form-group">
                                <label for="p_description">Descrição do Produto</label>
                                <textarea id="p_description" name="description" ><%= product.descricao %> </textarea>
                            </div>
            
                            <div class="form-group">
                                <label for="p_stock">Estoque Disponível</label>
                                <input type="number" id="p_stock" name="stock" value="<%= product.quantidade %>" />
                            </div>
            
                            <div class="form-group">
                                <label for="p_price">Preço</label>
                                <input  type="text"  id="p_price" name="price" value="<%= product.valor %>"/>
                            </div>       
                            
                            <div class="image-product">
                                <label>Imagens do Produto</label><br/>
                            </div>
                            <div class="products_files_area">
                                <input type="file" name="images" />
                            </div>
            
                        </div>
                    </div>
                </form>
            <% } %> 
            </div>
        </div>
    </main>
</body>
</html>