<%- include('partials/cabecalho') %>

<main>
  <div class="container-principal">
    <asside>
      <div class="menu-filter" id="menu-filter">
        <button id="button-closed-filter">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="45"
            height="45"
            fill="currentColor"
            class="bi bi-x"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
        <h3>Filtros</h3>
        <button class="button-clear">Limpar Filtros</button>
        <span>Categorias</span>
        <div class="list-filter">
          <ul>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="Batom" id="" />
                <label for="batom">Batom</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="Blush" id="" />
                <label for="blush">Blush</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="bruma" id="" />
                <label for="bruma">Bruma</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="contorno" id="" />
                <label for="contorno">Contorno</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="esponja" id="" />
                <label for="esponja">Esponja</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="iluminador" id="" />
                <label for="iluminador">Iluminador</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="lip-oil" id="" />
                <label for="lip-oil">Lip Oil</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="po-facial" id="" />
                <label for="po-facial">Pó Facial</label>
              </div>
            </li>
            <li>
              <div class="itens-checkbox">
                <input type="checkbox" name="sombras" id="" />
                <label for="sombras">Sombras</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </asside>
    <button id="button-filter">Filtrar</button>
    <div class="container-produtos">
      <div class="container-order">    
        <section class="section-filter">
          <span>Home / </span>
          <div class="order">
            <span>Ordenar por:</span>
            <select name="Ordenar" id="ordenar">
              <option value="" selected>Lançamento</option>
              <option value="">Batom</option>
              <option value="">Blush</option>
            </select>
          </div>
        </section>
      </div>
      <hr />

      <section id="list-products">
        <div class="container">
          <% for ( let itemProducts of products) { %>
          <div class="indexProductsProducts">
            <a href="/produtos/descricao-produto/<%= itemProducts.idprodutos %> "> <img
                src="/images/products/<%= itemProducts.imagem %> "
                alt="">
              <p class="indexProductsDescription"><%= itemProducts.titulo %></p>
              <p class="indexProductsOldPrice">R$ 45,00</p>
              <p class="indexProductsPrice">R$ <%= itemProducts.valor %></p>
              <p class="indexProductsSubPrice"><sub>3x de R$ 10,85 Sem juros</sub></p>
            </a>
          </div>
          
       <% } %>
        </div>
      </section>
    </div>
  </div>
</main>

<%- include('partials/rodape') %>
