<%- include('partials/cabecalho-alternativo') %>

    <div class="orderFinished">

        <div class="orderFinished-left">
            <div class="orderFinished-leftTopBox">
                <span><i class="fa-solid fa-circle-check"></i></span>
                <h1>Pedido Concluido com Sucesso</h1>

                <p class="orderNumberTitle">Número do pedido</p>
                <p class="orderNumber"><%= pedidos[0].codigo_pedido %></p>

                
                <h2>Forma de pagamento</h2>
                <p>MasterCard 5555********6789 <br> 2x de R$ 227,75 sem juros <br>Valor Total R$
                    455,50
                </p>

                <span>Pedido Entregue <i class="fa-solid fa-truck-fast"></i></span>
            </div>
        </div>

        <div class="orderFinished-right">
            <h2>Resumo da compra</h2>
            <% produtos.forEach(produto => { %>
                <% if (produtosPedidos) { %>
                 
                    <% if (produto.idprodutos == produtosPedidos[0].produtos_idprodutos) { %>
                 
            <div class="orderProducts">
                    <img src="<%= produto.img %>"
                    alt="">
                    <span class="orderProductsTitle"><%= produto.title %></span>
                    <span class="orderProductsAmount">Qtd: <%= produto.quantity %></span>
                    <span class="orderProductsPrice">R$ <%= parseInt(produto.price).toFixed(2).replace('.', '.') %></span>
            </div>
                    <% } %>
                <% } %>
            <% }) %>
            <div class="orderFinishResume">
                <div class="orderResume-resume">
                    <p>Subtotal </p>
                    <p>R$ <%= parseInt(pedidos[0].subtotal).toFixed(2).replace('.', ',') %></p>
                </div>
                <div class="orderResume-delivery">
                    <p>Frete</p>
                    <p>R$ <%= parseInt(pedidos[0].valor_frete).toFixed(2).replace('.', ',') %></p>
                </div>

                <div class="orderResume-total">
                    <p>TOTAL</p>
                    <p>R$ <%= parseInt(pedidos[0].total).toFixed(2).replace('.', ',') %></p>
                </div>
            </div>
        </div>

    </div>

    <div class="orderFinishedButtons">
        <button><a href="/painel">voltar</a></button>
    </div>


    <%- include('partials/rodape-alternativo') %>
